@model Itransition.BrowserPoint.Web.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<div class="row">
    <div class="span12">
        <h2>
            Create a new account</h2>
        <p>
            Use the form below to create a new account.
        </p>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
            <fieldset>
                <legend>Account Information</legend>
                <div class="control-group">
                    <label class="control-label" for="UserName">
                        User name</label>
                    <div class="controls">@Html.TextBoxFor(m => m.UserName)
                        <span class="help-inline">@Html.ValidationMessageFor(m => m.UserName)</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Email">
                        Email address</label>
                    <div class="controls">@Html.TextBoxFor(m => m.Email)
                        <span class="help-inline">@Html.ValidationMessageFor(m => m.Email) </span>
                        <p class="help-block">
                            We will send confirmation on this email
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ConfirmEmail">
                        Confirm email</label>
                    <div class="controls">@Html.TextBoxFor(t => t.ConfirmEmail)
                        <span class="help-inline">@Html.ValidationMessageFor(t => t.ConfirmEmail) </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="Password">
                        Password</label>
                    <div class="controls">
                        @Html.PasswordFor(m => m.Password)
                        <span class="help-inline">@Html.ValidationMessageFor(m => m.Password) </span>
                        <p class="help-block">
                            Password length should be minimum @Membership.MinRequiredPasswordLength characters</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="ConfirmPassword">
                        Confirm password</label>
                    <div class="controls">
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        <span class="help-inline">@Html.ValidationMessageFor(m => m.ConfirmPassword) </span>
                    </div>
                </div>
                <div class="form-actions">
                    <input type="submit" value="Register" class="btn btn-primary" />
                    <input type="reset" value="Reset form" class="btn" />
                </div>
            </fieldset>
        }
    </div>
</div>
