@{
    Bundles.Reference("content/less/bootstrap.less");
    Bundles.Reference("content/custom/base.scss");
    Bundles.Reference("content/custom/jquery-ui-1.8.20.custom.css");
    
    Bundles.Reference("/scripts/jquery.js");
    Bundles.Reference("/Scripts/jqueryui.js");
    Bundles.Reference("scripts/bootstrap.js");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    @Bundles.RenderStylesheets()
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand pull-left" href="#">BrowserPoint</a>
                @RenderSection("HeaderContent", false)
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
    @Bundles.RenderHtmlTemplates()
    @Bundles.RenderScripts()
    <!--[if lt IE 9]>
            <script src="https://raw.github.com/aFarkas/html5shiv/master/dist/html5shiv.js"></script>
        <![endif]-->
</body>
</html>
